.title {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 18px;
    color: #ffff;
    padding-top: 50px;
    margin: 0;
}
.subTitle{
    margin-top: 5px;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 12px;
    color: #ffff;
}